$main_background: white;
$menu_link_color: white;
$purple: #572EE5;
$purple_90:rgba(87, 46, 229, 0.90);
$purple_70: rgba(87, 46, 229, 0.70);
$light_grey: #9CAFC3;
$turquoise_1: #5ED7C6;
$turquoise_2: #50E3C2;
$black: #000000;
$light_grey_background:#F3F5F8;
$social_icon: #CDD6E0;
$dark_main_background: #37383C;

* {
    padding: 0;
    margin: 0;
}

/* Modes*/

/* Light mode*/

.light_mode{
    --color-main-background: white;
    --color-menu-link-color:white;
    --color-primary:#572EE5;
    --color-primary-90:rgba(87, 46, 229, 0.90);
    --color-primary-70:  rgba(87, 46, 229, 0.70);
    --color-light-grey: #9CAFC3;
    --color-turquoise-1: #5ED7C6;
    --color-turquoise-2: #50E3C2;
    --color-basic-text: black;
    --color-trending-background:#F3F5F8;
    --color-social-icon: #CDD6E0;
    --color-icons-1: brightness(0.7) invert(1) grayscale(1);
    --color-icons-2:#572EE5;
    --color-icon-normal:#572EE5;
    --color-icon-hover: brightness(0) invert(1);
    --color-icon-active: brightness(0) invert(1);
    --color-modal-background: rgba(255,255,255,0.90);
}

/* Dark mode*/

.dark_mode{
    --color-main-background: #37383C;
    --color-menu-link-color: white;
    --color-primary: white;
    --color-primary-90: black;
    --color-primary-70:  rgba(87, 46, 229, 0.70);
    --color-light-grey: #9CAFC3;
    --color-turquoise-1: #5ED7C6;
    --color-turquoise-2: #50E3C2;
    --color-basic-text: white;
    --color-trending-background:#222326;
    --color-social-icon: #CDD6E0;
    --color-icons-1: brightness(0.7) invert(1) grayscale(1);
    --color-icons-2: brightness(0) invert(1);
    --color-icon-normal: brightness(0) invert(1);
    --color-icon-hover: brightness(0);
    --color-icon-active: brightness(0) invert(1);
    --color-modal-background: rgba(34,35,38,0.90);
}



.container {
    margin-left: 0px;
    margin-right: 0px;
}