$main_background: white;
$menu_link_color: white;
$purple: #572EE5;
$purple_90:rgba(87, 46, 229, 0.90);
$purple_70: rgba(87, 46, 229, 0.70);
$purple_50: rgba(87, 46, 229, 0.50);
$light_grey: #9CAFC3;
$turquoise_1: #5ED7C6;
$turquoise_2: #50E3C2;
$black: #000000;
$light_grey_background:#F3F5F8;


/* first mobile */

* {
    padding: 0;
    margin: 0;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}