/* first desktop y tablet */

@media screen and (min-width: 768px) {
    #create_gifos {
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        #create_gifos_container {
            width: 688px;
            min-height: 390px;
            border: 1px solid $purple;
            position: relative;


            .create_container_main {
                position: absolute;
                width: vw(20, 1440);
                height: vw(20, 1440);
                right: 20px;
                bottom: 20px;

                & >.create_gifos_framework_1 {
                    border-top: solid $turquoise_2 1px;
                    border-left: solid $turquoise_2 1px;
                    left: 20px;
                    top: 20px;
                }




                .create_gifos_framework_2 {
                    border-right: solid $turquoise_2 1px;
                    right: 20px;
                    top: 20px;
                }

                .create_gifos_framework_3 {
                    border-bottom: solid $turquoise_2 1px;
                    left: 20px;
                    bottom: 20px;
                }


                .create_gifos_framework_4 {
                    border-bottom: solid $turquoise_2 1px;
                    border-right: solid $turquoise_2 1px;
                    right: 20px;
                    bottom: 20px;
                }

            }

            .create_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                top: 34px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                width: 480px;
                min-height: 320px;

                #title {
                    font-family: 'Montserrat-bold';
                    font-size: 25px;
                    color: $purple;
                    text-align: center;
                    line-height: 33px;
                    margin-bottom: 31px;
                    margin: 7px 44px 0px 45px;

                    & .h1_turquoise {
                        color: $turquoise_2;
                    }
                }

                .create_paragraph_container {
                    font-family: 'Montserrat-medium';
                    font-size: 14px;
                    color: $purple;
                    text-align: center;
                    line-height: 25px;
                    margin-top: 0px;
                    margin-bottom: 45px;
                }
            }

        }
    }
}