/* first desktop y tablet */

@media screen and (min-width: 768px) {
    #create_gifos {
        display: flex;
        margin-top: 5px;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        /*Inicia cámara imagen*/
        .camera_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            &>.camera_light {
                margin-left: 2px;
                margin-right: 4px;
            }
        }


        .create_main {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        /*Inicia Crear Gifo contenedor principal morado*/

        #create_gifos_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 688px;
            height: 390px;
            border: 1px solid $purple;


            .create_container_main {
                width: 648px;
                height: 350px;
                margin: 20px;
                display: flex;
                flex-direction: column;
            }

            /*Panel decorativo Turquesa*/

            .corner-panel {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 25px;
            }

            .corner {
                width: 25px;
                height: 25px;
                position: relative;
            }

            .top,
            .bottom {
                position: absolute;
                width: 25px;
                height: 25px;
            }

            .top {
                top: 0;
                border-top: 1px solid $turquoise_2;
            }

            .bottom {
                bottom: 0;
                border-bottom: 1px solid $turquoise_2;
            }

            .left {
                left: 0;
                border-left: 1px solid $turquoise_2;
            }

            .right {
                right: 0;
                border-right: 1px solid $turquoise_2;
            }

            /*Finaliza panel decorativo Turquesa*/

            /*Inicia contenido Parte 1*/
            .create_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 34px;
                left: 50%;
                text-align: center;
                width: 100%;
                height: 100%;

                #title {
                    font-family: 'Montserrat-bold';
                    font-size: 25px;
                    color: $purple;
                    text-align: center;
                    line-height: 35px;
                    margin-bottom: 0px;

                    & .h1_turquoise {
                        color: $turquoise_2;
                    }
                }

                .create_paragraph_container {
                    font-family: 'Roboto-regular';
                    font-size: 16px;
                    color: $black;
                    text-align: center;
                    line-height: 29px;
                    margin-top: 3px;
                }
            }

            /*Finaliza contenido Parte 1*/

        }

        /*Inicia Paso a paso para crear Gifos*/

        .gifos_status_main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &>.gifos_status_main_step_to_step {
                display: flex;
                flex-direction: row;
                width: 146px;
                justify-content: space-between;
            }

            &>.divisor {
                width: 100%;
                border-top: 1px solid $turquoise_2;
            }

        }

        /*Inicia film imagen*/

        .film_container {
            margin-top: auto;
            margin-left: 67px;
        }
    }
}