/* first mobile */

.modal_container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    &>.modal_close_button {
        width: 13.8px;
        height: 14px;
        color: var(--color-primary);
        background-color: var(--color-main-background);
        outline: none;
        border: none;
        margin: 0px 34.3px 0px 0px;
        align-self: flex-end;
    }

    &>.gif_modal{
        width: 318px;
        height: 245px;
        padding: 78px 0 14px;
        align-self: center;
    }

    &>.info_full_modal{
        width: 318px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        margin: 0px 28px 0px 29px;
    }

    &>.info_modal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 29.5px
    }
    & .modal_paragraph {
        font-family: 'Roboto-regular';
        font-size: 15px;
        margin-bottom: 6px;
    }

    & .modal_title {
        height: 19px;
        font-family: 'Montserrat-bold';
        font-size: 16px;
    }

    & .modal_buttons {
        width: 93px;
        display: flex;
        justify-content: space-between;
        color: $main_background;
    }

    & .favorite_button_modal{
        background-color: $main_background;
        width: 36px;
        height: 36px;
        border: 0px;

        &>.favorite_inactive_icon{
            display: inline;
        }

        &>.favorite_active_icon {
            display: none;
        }

        &[data-favorite="true"] {
            &>.favorite_active_icon {
                display: inline;
            }

            &>.favorite_inactive_icon{
                display: none;
            }
        }
         
        &:hover {
            opacity: 100%;
            background-color: $main_background;
        }
    }

    &  .download_button_modal{
        background-color: $main_background;
        width: 36px;
        height: 36px;
        border: $light_grey 1px solid;
        border-radius: 6px;
        font-size: 18px;
        outline: none;

        &:hover {
            opacity: 50%;
            background-color: $main_background;
        }
    }


}