/* first mobile */

.modal_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    &>.modal_close_button {
        width: 13.8px;
        height: 14px;
        color: var(--color-primary);
        background-color: var(--color-main-background);
        outline: none;
        border: none;
        margin: 0px 34.3px 0px 0px;
        align-self: flex-end;
    }

    &>.info_full_modal {
        width: 318px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        margin: 0px 28px 0px 29px;
    }

    &>.info_modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 29.5px
    }

    & .modal_paragraph {
        font-family: 'Roboto-regular';
        font-size: 15px;
        margin-bottom: 6px;
    }

    & .modal_title {
        height: 19px;
        font-family: 'Montserrat-bold';
        font-size: 16px;
    }

    & .modal_buttons {
        width: 93px;
        display: flex;
        justify-content: space-between;
        color: var(--color-main-background);
    }

    & .favorite_button_modal {
        background-color: var(--color-main-background);
        width: 36px;
        height: 36px;
        border: 0px;

        &>.favorite_inactive_icon {
            display: inline;
        }

        &>.favorite_active_icon {
            display: none;
        }

        &[data-favorite="true"] {
            &>.favorite_active_icon {
                display: inline;
            }

            &>.favorite_inactive_icon {
                display: none;
            }
        }

        &:hover {
            opacity: 100%;
            background-color:var(--color-main-background);
        }
    }

    & .download_button_modal {
        background-color: var(--color-main-background);
        width: 36px;
        height: 36px;
        border: var(--color-light-grey) 1px solid;
        border-radius: 6px;
        font-size: 18px;
        outline: none;

        &:hover {
            opacity: 50%;
            background-color:  var(--color-main-background);
        }
    }

}

.modal_slider {
    display: flex;
    flex-direction: row;
    width: 318px;
    padding: 78px 0 14px;
    align-self: center;

    .gif_modal {
        width: 100%;
        height: fit-content;
        display: flex;
        overflow-x: auto;
        width: 318px;
        height: 245px;
        padding: 0px 0px 0px;
        align-self: center;
    }

    &>button {
        display: none;
    }
}

/* Opciones desktop y tablet */

@media screen and (min-width: 768px) {

    .modal {
        width: fit-content;

        &>.modal_close_button {
            width: 15px;
            height: 15px;
            margin: 0px 0px 78.4px 31.4px;
        }

        &>.info_full_modal {
            width: 695px;
            margin: 27px 0px 0px 0px;
        }

        & .modal_title {
            font-family: 'Roboto-bold';
        }

        & .favorite_button_modal {
            border:  var(--color-light-grey) 1px solid;
            border-radius: 6px;

            &:hover {
                opacity: 50%;
                background-color: var(--color-main-background);
            }
        }

    }

    .modal_slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 0px;

        .gif_modal {
            width: 695px;
            height: 385px;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            justify-content: center;
            padding: 0px;
        }

        &>button {
            display: inline;
            background-color: var(--color-main-background);
            border: var(--color-primary) solid 1px;
            width: 40px;
            height: 40px;
            outline: none;
            margin: 0px 25px 0px 25px;

            &:hover {
                background-color: var(--color-primary);
                color: var(--color-main-background);

                &>img {
                    filter: brightness(0) invert(1);
                }
            }

            &>img {
                position: inherit;
                top: 50%;
                left: 50%;
                height: 50%;
                width: 8px;
                height: 14px;
            }
        }

    }

}