$background_nav: $main_background;
$background_item: $purple;
$hamburguer_width: 15px;
$icon_height: 2px;
$x_color: $purple;

header {
    width: 100vw;
    padding: 0;
    margin: 0;
}


.logo {
    height: 49px;
    padding-left: 22px;
    padding-top: 29px;
    padding-bottom: 17px;
    position: absolute;
    z-index: 2;
}

/* Inicia Barra de navegación */
nav {
    position: relative;
    height: 95px;
    border-top: 5px solid $background_item;
    background: $background_nav;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transition: all 1s ease;
    padding: 0;
    margin: 0;
}

/* Inicia Menú tipo hamburguesa first mobile */
.toggle {
    display: none;
}

.toggle:checked~.menu {
    display: block;
}

.icon {
    display: inline-block;
    width: $hamburguer_width;
    height: $icon_height;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

.hamburguer {
    display: block;
    width: $hamburguer_width;
    height: $icon_height;
    background: $purple;
    position: absolute;
    top: 47px;
    right: 26px;
    bottom: 34px;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

.hamburguer:before,
.hamburguer:after {
    content: "";
    display: block;
    width: $hamburguer_width;
    height: $icon_height;
    background: $purple;
    position: absolute;
    top: -6px;
    transition: inherit;
}

.hamburguer:after {
    top: 6px;
}

.toggle:checked+.icon>.hamburguer {
    background: $x_color;
    transform: rotate(45deg);
}

.toggle:checked+.icon>.hamburguer:before {
    background: $x_color;
    top: 0;
    transform: rotate(90deg);
}

.toggle:checked+.icon>.hamburguer:after {
    background: $x_color;
    top: 0;
    transform: rotate(90deg);
}

/* Finaliza Menú tipo hamburguesa first mobile */

/* Opciones del menú first mobile */
.menu {
    text-align: center;
    width: 100%;
    height: 584px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: $purple_90;
    margin-top: 90px;
    padding: 0px;
    z-index: 3;

    & li {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        height: 60px;
        margin-top: 2px;
    }

    & li:first-child {
        margin-top: 17px;
    }

}


.menu_link_final {
    text-decoration: none;
    flex: auto;
    font-family: 'Montserrat-bold';
    font-size: 15px;
    color: $menu_link_color;
    text-align: center;
    line-height: 30px;
}

.menu_link {
    text-decoration: none;
    flex: auto;
    font-family: 'Montserrat-bold';
    font-size: 15px;
    color: $menu_link_color;
    text-align: center;
    line-height: 30px;

    &::after {
        content: '';
        position: absolute;
        width: 41px;
        opacity: 50%;
        margin-top: 43px;
        margin-bottom: 11.9px;
        left: calc(50% - 20.5px);
        border-bottom: 0.1px solid $menu_link_color;
    }
}

.navigation_bottom {
    display: none;
    width: 54px;
    height: 54px;
    background-color: $main_background;
    border: 1px solid $purple;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    right: 156px;
    bottom: 18px;
    outline: none;
    color: $purple;
    z-index: 3;

    &:hover {
        background-color: $purple;
        color: $main_background;

        &>img {
            filter: brightness(0) invert(1);
        }
    }


    &:active {
        background-color: $light_grey;
        color: $main_background;
        border: 1px solid $light_grey;
    }

    &>img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
    }


}


/* Opciones del menú desktop y tablet */

@media screen and (min-width: 768px) {
    .logo {
        height: 59.1px;
        padding-left: 156px;
        padding-top: 18px;
        padding-bottom: 12.9px;
    }

    nav {
        min-width: 100%;
        height: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: right;
        transition: all 1s ease;
        position: relative;
        margin-right: 156px;
    }

    .navigation_bottom {
        display: inherit;
    }


    .icon {
        display: none;
    }

    .toggle {
        display: none;
    }

    .toggle:checked~.menu {
        display: flex;
    }

    .menu {
        width: 47%;
        text-align: right;
        background: $main_background;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
        height: 90px;

        & li {
            flex: auto;
            list-style: none;
            margin-top: 36px;
            margin-left: 0px;
            margin-bottom: 38px;
        }

        & li:first-child {
            margin-top: 36px;
        }

        & li:last-child {
            margin-right: 30%;
        }
    }

    .menu_link_final,
    .menu_link {
        text-decoration: none;
        flex: auto;
        font-family: 'Montserrat-bold';
        font-size: 13px;
        color: $purple;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $turquoise_1;
        }

        &:active {
            text-decoration: none;
            color: $light_grey;
        }
    }
}