/* first mobile */
#search_introduction{

    %share_h1{
        font-family: 'Montserrat-bold';
        font-size: 25px;
        color: $purple;
        text-align: center;
        line-height: 33px;
        margin-bottom: 31px;
    }

    & h1 {
        @extend %share_h1;
        margin: 7px 44px 0px 45px;
    }

    .h1_turquoise{
        @extend %share_h1;
        color: $turquoise_2;
    }
.h1_main_title{
    display: none;
}
}

.search_introduction_image{
        display: block;
        position: relative;
        width: 273px;
        height: auto;
        top: 31px;
        right: 51px;
        left: 51px;
        bottom: 0px;
}







/* Inicia Menú tipo hamburguesa first mobile */

/* Opciones desktop y tablet */

@media screen and (min-width: 768px) {
    #search_introduction{
    
        & h1{
            margin-bottom: 0px;
            font-size: 35px;
            line-height: 50px;
            margin: 76px 253px 0px 253px;
            & br{
                display: none;
            }
        }

        .h1_turquoise{
            margin-bottom: 0px;
            font-size: 35px;
            line-height: 50px;
            } 

        .h1_main_title{
            display: inline;
        }
    
    }

    .search_introduction_image{
        width: 399px;
        top: 24px;
        right: 520px;
        left: 521px;
}
}