/* first mobile */
#search_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;

    %share_h1 {
        font-family: 'Montserrat-bold';
        font-size: 25px;
        color: $purple;
        text-align: center;
        line-height: 33px;
        margin-bottom: 31px;
    }


    & h1 {
        @extend %share_h1;
        margin: 7px 44px 0px 45px;
    }

    .h1_turquoise {
        @extend %share_h1;
        color: $turquoise_2;
    }

    .h1_main_title {
        display: none;
    }
}

.search_introduction_image {
    display: block;
    width: 273px;
    height: auto;
    margin-top: 31px;
    right: 51px;
    left: 51px;
    bottom: 0px;
}

/* Inicia buscador first mobile */

#search_main {
    width: 334px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_box {
    width: 334px;
    border: $purple solid 1px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: $main_background;

    & .search_bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 50px;


        &>input {
            margin-left: 55px;
            width: 100%;
            border: 0;
            outline: none;
            font-family: 'Roboto-regular';
            font-size: 16px;



            &:not(:placeholder-shown) {
                margin-left: 55px;
                order: 2;

                &~#searchbox_search_button {
                    display: none;
                    order: 1;
                    margin-left: 55px;
                    margin-right: 0px;

                    &>img {
                        filter: brightness(0.7) invert(1) grayscale(1);
                    }
                }

                &~#searchbox_cancel_button {
                    display: inline;
                    order: 3;
                }
            }
        }

        &>button {
            margin-right: 20px;
            font-size: 20px;
            background-color: $main_background;
            outline: none;
            color: $purple;
            border: none;
        }

        #searchbox_cancel_button {
            display: none;
        }


    }

    /* Inicia buscador activo - no visible en mobile */
    #search_line {
        display: none;
    }

    & #search_options {
        display: none;
    }

}



/* Opciones desktop y tablet */

@media screen and (min-width: 768px) {
    #search_introduction {

        & h1 {
            margin-bottom: 0px;
            font-size: 35px;
            line-height: 50px;
            margin: 76px 253px 0px 253px;

            & br {
                display: none;
            }
        }

        .h1_turquoise {
            margin-bottom: 0px;
            font-size: 35px;
            line-height: 50px;
        }

        .h1_main_title {
            display: inline;
        }

    }

    .search_introduction_image {
        width: 399px;
        margin-top: 24px;
        right: 520px;
        left: 521px;
    }

    #search_main {
        width: 100%;
        max-width: 551px;
    }

    .search_box {
        width: 100%;
        max-width: 551px;
        position: relative;


        & .search_bar {

            &>input {

                &:not(:placeholder-shown) {
                    margin-left: 13px;

                    &~#searchbox_search_button {
                        display: inline;
                        margin-left: 21px;
                        margin-right: 0px;
                    }
                }
            }
        }

        /* Buscador activo */

        #search_line {
            border-top: 1px solid $light_grey;
            width: 85%;
            padding-bottom: 4px;
            display: none;
        }

        & #search_options {
            width: 92%;
            list-style: none;
            padding-left: 23px;
            padding-right: 23px;
            position: relative;
            display: none;

            &>li {
                width: 100%;
                padding-top: 10px;
                background-color: $main_background;

                &:last-child {
                    padding-bottom: 18px;
                }

                &>button {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $light_grey;
                    font-family: 'Roboto-regular';
                    font-size: 16px;
                    text-align: left;
                    background-color: $main_background;
                    outline: none;
                    border: none;
                    left: 23.6px;


                    &>img {
                        filter: brightness(0.7) invert(1) grayscale(1);
                        top: 15.2px;
                        height: 15.8px;
                        width: 15.8px;
                        padding-right: 14.6px;
                    }

                }
            }

        }

    }
}