@font-face {
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@import './common_elements.scss';
@import './navigation_bar.scss';
@import './search_introduction.scss';
@import './trendings.scss';
@import './footer.scss';
@import './results.scss';
@import './favorites.scss';
