@charset "UTF-8";
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}

/* Modes*/
/* Light mode*/
.light_mode {
  --color-main-background: white;
  --color-menu-link-color: white;
  --color-primary: #572EE5;
  --color-primary-90: rgba(87, 46, 229, 0.90);
  --color-primary-70: rgba(87, 46, 229, 0.70);
  --color-light-grey: #9CAFC3;
  --color-turquoise-1: #5ED7C6;
  --color-turquoise-2: #50E3C2;
  --color-basic-text: black;
  --color-trending-background: #F3F5F8;
  --color-social-icon: #CDD6E0;
  --color-icons-1: brightness(0.7) invert(1) grayscale(1);
  --color-icons-2: #572EE5;
  --color-icon-normal: #572EE5;
  --color-icon-hover: brightness(0) invert(1);
  --color-icon-active: brightness(0) invert(1);
  --color-modal-background: rgba(255, 255, 255, 0.90);
  --camera-image: url("/assets/camara.svg");
  --tape-image: url("/assets/pelicula.svg");
}

/* Dark mode*/
.dark_mode {
  --color-main-background: #37383C;
  --color-menu-link-color: white;
  --color-primary: white;
  --color-primary-90: black;
  --color-primary-70: rgba(87, 46, 229, 0.70);
  --color-light-grey: #9CAFC3;
  --color-turquoise-1: #5ED7C6;
  --color-turquoise-2: #50E3C2;
  --color-basic-text: white;
  --color-trending-background: #222326;
  --color-social-icon: #CDD6E0;
  --color-icons-1: brightness(0.7) invert(1) grayscale(1);
  --color-icons-2: brightness(0) invert(1);
  --color-icon-normal: brightness(0) invert(1);
  --color-icon-hover: brightness(0);
  --color-icon-active: brightness(0) invert(1);
  --color-modal-background: rgba(34, 35, 38, 0.90);
  --camera-image: url("/assets/camara-modo-noc.svg");
  --tape-image: url("/assets/pelicula-modo-noc.svg");
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}

header {
  padding: 0;
  margin: 0;
}

.logo {
  height: 49px;
  padding-left: 22px;
  padding-top: 29px;
  padding-bottom: 17px;
  position: absolute;
  z-index: 2;
}

/* Inicia Barra de navegación */
nav {
  position: relative;
  height: 95px;
  border-top: 5px var(--color-primary-90) solid;
  background: var(--color-main-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  transition: all 1s ease;
  padding: 0;
  margin: 0;
}

/* Inicia Menú tipo hamburguesa first mobile */
.toggle {
  display: none;
}

.toggle:checked ~ .menu {
  display: block;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 2px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

.hamburguer {
  display: block;
  width: 15px;
  height: 2px;
  background: var(--color-primary);
  position: absolute;
  top: 47px;
  right: 26px;
  bottom: 34px;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.hamburguer:before,
.hamburguer:after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background: var(--color-primary);
  position: absolute;
  top: -6px;
  transition: inherit;
}

.hamburguer:after {
  top: 6px;
}

.toggle:checked + .icon > .hamburguer {
  background: var(--color-primary);
  transform: rotate(45deg);
}

.toggle:checked + .icon > .hamburguer:before {
  background: var(--color-primary);
  top: 0;
  transform: rotate(90deg);
}

.toggle:checked + .icon > .hamburguer:after {
  background: var(--color-primary);
  top: 0;
  transform: rotate(90deg);
}

/* Finaliza Menú tipo hamburguesa first mobile */
/* Opciones del menú first mobile */
.menu {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-90);
  margin-top: 90px;
  padding: 0px;
  z-index: 3;
}
.menu li {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  height: 60px;
  margin-top: 2px;
}
.menu li:first-child {
  margin-top: 1Fpx;
}

.menu_link_final {
  text-decoration: none;
  flex: auto;
  font-family: "Montserrat-bold";
  font-size: 15px;
  color: var(--color-menu-link-color);
  text-align: center;
  line-height: 30px;
}

.menu_link {
  text-decoration: none;
  flex: auto;
  font-family: "Montserrat-bold";
  font-size: 15px;
  color: var(--color-menu-link-color);
  text-align: center;
  line-height: 30px;
}
.menu_link::after {
  content: "";
  position: absolute;
  width: 41px;
  opacity: 50%;
  margin-top: 43px;
  margin-bottom: 11.9px;
  left: calc(50% - 20.5px);
}

.navigation_bottom {
  display: none;
  width: 54px;
  height: 54px;
  background-color: var(--color-main-background);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: 156px;
  bottom: 18px;
  outline: none;
  color: var(--color-primary);
  z-index: 3;
}
.navigation_bottom > img {
  filter: var(--color-icon-normal);
}
.navigation_bottom:hover {
  background-color: var(--color-primary);
  color: var(--color-main-background);
}
.navigation_bottom:hover > img {
  filter: var(--color-icon-hover);
}
.navigation_bottom:active {
  background-color: var(--color-light-grey);
  color: var(--color-main-background);
  border: 1px solid var(--color-light-grey);
}
.navigation_bottom:active > img {
  filter: var(--color-icon-active);
}
.navigation_bottom > img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

/* Opciones del menú desktop y tablet */
@media screen and (min-width: 768px) {
  .logo {
    height: 59.1px;
    padding-left: 156px;
    padding-top: 18px;
    padding-bottom: 12.9px;
  }

  nav {
    min-width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: right;
    transition: all 1s ease;
    position: relative;
    margin-right: 156px;
  }

  .navigation_bottom {
    display: inherit;
  }

  .icon {
    display: none;
  }

  .toggle {
    display: none;
  }

  .toggle:checked ~ .menu {
    display: flex;
  }

  .menu {
    width: 47%;
    text-align: right;
    background: var(--color-main-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    height: 90px;
  }
  .menu li {
    flex: auto;
    list-style: none;
    margin-top: 36px;
    margin-left: 0px;
    margin-bottom: 38px;
  }
  .menu li:first-child {
    margin-top: 36px;
  }
  .menu li:last-child {
    margin-right: 30%;
  }

  .menu_link_final,
.menu_link {
    text-decoration: none;
    flex: auto;
    font-family: "Montserrat-bold";
    font-size: 13px;
    color: var(--color-primary);
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .menu_link_final:hover,
.menu_link:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-turquoise-1);
  }
  .menu_link_final:active,
.menu_link:active {
    text-decoration: none;
    color: var(--color-light-grey);
  }
}
/* first mobile */
#search_introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-main-background);
}
#search_introduction .h1_turquoise, #search_introduction h1 {
  font-family: "Montserrat-bold";
  font-size: 25px;
  color: var(--color-primary);
  text-align: center;
  line-height: 33px;
  margin-bottom: 31px;
}
#search_introduction h1 {
  margin: 7px 44px 0px 45px;
}
#search_introduction .h1_turquoise {
  color: var(--color-turquoise-2);
}
#search_introduction .h1_main_title {
  display: none;
}

.search_introduction_image {
  display: block;
  width: 273px;
  height: auto;
  margin-top: 31px;
  right: 51px;
  left: 51px;
  bottom: 0px;
}

/* Inicia buscador first mobile */
#search_main {
  width: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_box {
  width: 334px;
  border: var(--color-primary) solid 1px;
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-color: var(--color-main-background);
  /* Inicia buscador activo - no visible en mobile */
}
.search_box .search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
}
.search_box .search_bar > input {
  margin-left: 55px;
  width: 100%;
  border: 0;
  outline: none;
  font-family: "Roboto-regular";
  font-size: 16px;
  background: var(--color-main-background);
  color: var(--color-basic-text);
}
.search_box .search_bar > input ~ #searchbox_search_button > img {
  filter: var(--color-icons-2);
}
.search_box .search_bar > input:not(:placeholder-shown) {
  margin-left: 55px;
  order: 2;
}
.search_box .search_bar > input:not(:placeholder-shown) ~ #searchbox_search_button {
  display: none;
  order: 1;
  margin-left: 55px;
  margin-right: 0px;
}
.search_box .search_bar > input:not(:placeholder-shown) ~ #searchbox_search_button > img {
  filter: var(--color-icons-1);
}
.search_box .search_bar > input:not(:placeholder-shown) ~ #searchbox_cancel_button {
  display: inline;
  order: 3;
}
.search_box .search_bar > input:not(:placeholder-shown) ~ #searchbox_cancel_button > img {
  filter: var(--color-icons-2);
}
.search_box .search_bar > button {
  margin-right: 20px;
  font-size: 20px;
  background-color: var(--color-main-background);
  outline: none;
  color: var(--color-icons-2);
  border: none;
}
.search_box .search_bar #searchbox_cancel_button {
  display: none;
}
.search_box #search_line {
  display: none;
}
.search_box #search_options {
  display: none;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  #search_introduction h1 {
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 50px;
    margin: 76px 253px 0px 253px;
  }
  #search_introduction h1 br {
    display: none;
  }
  #search_introduction .h1_turquoise {
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 50px;
  }
  #search_introduction .h1_main_title {
    display: inline;
  }

  .search_introduction_image {
    width: 399px;
    margin-top: 24px;
    right: 520px;
    left: 521px;
  }

  #search_main {
    width: 100%;
    max-width: 551px;
  }

  .search_box {
    width: 100%;
    max-width: 551px;
    position: relative;
    /* Buscador activo */
  }
  .search_box .search_bar > input:not(:placeholder-shown) {
    margin-left: 13px;
  }
  .search_box .search_bar > input:not(:placeholder-shown) ~ #searchbox_search_button {
    display: inline;
    margin-left: 21px;
    margin-right: 0px;
  }
  .search_box #search_line {
    border-top: 1px solid var(--color-light-grey);
    width: 85%;
    padding-bottom: 4px;
    display: none;
  }
  .search_box #search_options {
    width: 92%;
    list-style: none;
    padding-left: 23px;
    padding-right: 23px;
    position: relative;
    display: none;
  }
  .search_box #search_options > li {
    width: 100%;
    padding-top: 10px;
    background-color: var(--color-main-background);
  }
  .search_box #search_options > li:last-child {
    padding-bottom: 18px;
  }
  .search_box #search_options > li > button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-light-grey);
    font-family: "Roboto-regular";
    font-size: 16px;
    text-align: left;
    background-color: var(--color-main-background);
    outline: none;
    border: none;
    left: 23.6px;
  }
  .search_box #search_options > li > button > img {
    filter: var(--color-icons-1);
    top: 15.2px;
    height: 15.8px;
    width: 15.8px;
    padding-right: 14.6px;
  }
}
/* first mobile */
main {
  background-color: var(--color-main-background);
}

#trendings {
  background-color: var(--color-main-background);
}
#trendings .trendings_container > .trendings_title_container, #trendings .trendings_title {
  font-family: "Montserrat-bold";
  color: var(--color-primary);
  text-align: center;
}
#trendings .trendings_title {
  font-size: 16px;
  line-height: 25px;
  margin-top: 31px;
  margin-bottom: 2px;
}
#trendings #trendings_paragraph {
  font-family: "Montserrat-medium";
  font-size: 14px;
  color: var(--color-primary);
  text-align: center;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 45px;
}

/* Inicia trendings container first mobile */
.trendings_container {
  background-color: var(--color-trending-background);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.trendings_container > .trendings_title_container {
  font-size: 20px;
  line-height: 30px;
  margin-top: 46px;
  margin-bottom: 7px;
}
.trendings_container > .trendings_paragraph_container {
  font-family: "Roboto-regular";
  font-size: 16px;
  color: var(--color-basic-text);
  text-align: center;
  line-height: 23px;
  margin-top: 0px;
  margin-bottom: 32px;
}
.trendings_container > .gif_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 82px;
}
.trendings_container > .gif_container .gifs_slider {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: auto;
}
.trendings_container > .gif_container > button {
  display: none;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  #trendings .trendings_title {
    font-size: 18px;
    margin-top: 73px;
    margin-bottom: 7px;
  }
  #trendings #trendings_paragraph {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 95px;
  }
  #trendings #trendings_paragraph br {
    display: none;
  }

  .trendings_container > .trendings_title_container {
    font-size: 25px;
    margin-top: 67px;
    margin-bottom: 12px;
  }
  .trendings_container > .trendings_paragraph_container {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 53px;
  }
  .trendings_container > .trendings_paragraph_container br {
    display: none;
  }
  .trendings_container > .gif_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 182px;
  }
  .trendings_container > .gif_container .gifs_slider {
    width: fit-content;
    height: 280px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
  }
  .trendings_container > .gif_container > button {
    display: inline;
    background-color: var(--color-main-background);
    border: var(--color-primary) solid 1px;
    width: 40px;
    height: 40px;
    outline: none;
  }
  .trendings_container > .gif_container > button > img {
    filter: var(--color-icon-normal);
  }
  .trendings_container > .gif_container > button:hover {
    background-color: var(--color-primary);
    color: var(--color-main-background);
  }
  .trendings_container > .gif_container > button:hover > img {
    filter: var(--color-icon-hover);
  }
  .trendings_container > .gif_container > button > img {
    position: inherit;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 8px;
    height: 14px;
  }
}
/* first mobile */
footer {
  height: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px var(--color-primary-90) solid;
  background-color: var(--color-main-background);
}
footer .footer_paragraph {
  font-family: "Roboto-regular";
  font-size: 15px;
  color: var(--color-basic-text);
  letter-spacing: 0;
  margin: 47px 141px 22px 143px;
  padding: 0px;
}
footer .footer_icons-container {
  width: 85.42px;
  display: flex;
  justify-content: space-between;
}
footer .footer_icons-container i {
  font-size: 20px;
  color: var(--color-social-icon);
  text-decoration: none;
}
footer .footer_copyright {
  font-family: "Roboto-regular";
  font-size: 14px;
  color: var(--color-basic-text);
  letter-spacing: 0;
  line-height: 20px;
  margin: 46px 76px 23px 83px;
  padding: 0px;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: start;
    height: 116px;
  }
  footer .footer_paragraph {
    font-size: 13px;
    margin: 49.5px 0px 51.5px 0px;
    padding-left: 156px;
  }
  footer .footer_icons-container {
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
  }
  footer .footer_icons-container i {
    font-size: 20px;
  }
  footer .footer_icons-container i:hover {
    color: var(--color-primary);
  }
  footer .footer_copyright {
    font-size: 13px;
    margin-left: auto;
    margin-right: 158px;
  }
}
/* first mobile */
#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gif-result {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#results_bar {
  border-top: #9CAFC3 solid 1px;
  opacity: 0.5;
  width: 157px;
  display: none;
}

#results_title {
  font-family: "Montserrat-bold";
  color: #572EE5;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

#more_results {
  display: none;
  width: 127px;
  height: 50px;
  border: #572EE5 solid 1px;
  background-color: white;
  border-radius: 25px;
  font-family: "Montserrat-bold";
  font-size: 13px;
  color: #572EE5;
  text-transform: uppercase;
  margin-top: 78px;
  margin-bottom: 79px;
}
#more_results:hover {
  background-color: #572EE5;
  color: white;
}

/* Búsqueda sin resultado */
#no_results {
  display: none;
  flex-direction: column;
  align-items: center;
}
#no_results > img {
  margin-top: 38px;
  margin-bottom: 0px;
}
#no_results > h3 {
  font-family: "Montserrat-bold";
  font-size: 20px;
  color: #50E3C2;
  text-align: center;
  line-height: 25px;
  margin-top: 29px;
  margin-bottom: 78px;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  #gif-result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 29px;
    width: fit-content;
  }

  #results_title {
    font-size: 35px;
    line-height: 30px;
  }

  #results_bar {
    width: 338px;
  }

  #no_results > img {
    margin-top: 109px;
    margin-bottom: 0px;
  }
  #no_results > h3 {
    font-size: 22px;
    margin-bottom: 149px;
  }
}
/* first mobile */
#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#introduction > .introduction_icon {
  width: 28px;
  height: 21px;
  margin-top: 5px;
  bottom: 0px;
}
#introduction h1 {
  font-family: "Montserrat-bold";
  color: #572EE5;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-top: 7px;
  margin-bottom: 0px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gif-content-favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
#gif-content-favorites .gif {
  width: 156px;
  height: 120px;
}
#gif-content-favorites .gif > img {
  width: 100%;
  height: 100%;
}

#more_content {
  display: none;
  width: 127px;
  height: 50px;
  border: #572EE5 solid 1px;
  background-color: white;
  border-radius: 25px;
  font-family: "Montserrat-bold";
  font-size: 13px;
  color: #572EE5;
  text-transform: uppercase;
  margin-top: 78px;
  margin-bottom: 79px;
}
#more_content:hover {
  background-color: #572EE5;
  color: white;
}

/* Favoritos y Mis GIFOS sin contenido */
#no_content {
  display: none;
  flex-direction: column;
  align-items: center;
}
#no_content > img {
  width: 150px;
  height: 150px;
  margin-top: 38px;
  margin-bottom: 0px;
}
#no_content > h3 {
  font-family: "Montserrat-bold";
  font-size: 18px;
  color: #50E3C2;
  text-align: center;
  line-height: 23px;
  margin-top: 29px;
  margin-bottom: 78px;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  #introduction > .introduction_icon {
    margin-top: 11px;
  }
  #introduction h1 {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  #gif-content-favorites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 29px;
    width: fit-content;
  }
  #gif-content-favorites .gif {
    width: 260px;
    height: 200px;
  }
  #gif-content-favorites .gif > img {
    width: 100%;
    height: 100%;
  }

  #no_content > img {
    margin-top: 110px;
    margin-bottom: 0px;
  }
  #no_content > h3 {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 137px;
  }
}
/* first mobile */
.gif {
  position: relative;
  width: 156px;
  height: 120px;
}
.gif > img {
  width: 100%;
  height: 100%;
}

.trend_gif {
  position: relative;
  width: 243px;
  height: 187px;
  flex-shrink: 0;
  margin-left: 22px;
}
.trend_gif > img {
  width: 100%;
  height: 100%;
}

.overlay {
  display: none;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  .gif {
    width: 260px;
    height: 200px;
  }
  .gif > img {
    width: 100%;
    height: 100%;
  }

  .trend_gif {
    width: 357px;
    height: 275px;
    flex-shrink: 0;
    margin-left: 29px;
  }
  .trend_gif:first-child {
    margin-left: 22px;
  }
  .trend_gif:last-child {
    margin-right: 25px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(87, 46, 229, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }
  .overlay .gif_cards_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .overlay .gif_cards_buttons button {
    width: 32px;
    height: 32px;
    color: white;
    opacity: 0.7;
    border-radius: 6px;
    border: none;
    margin: 10px 10px 0px 0px;
  }
  .overlay .gif_cards_buttons button .favorite_icon_active {
    display: none;
  }
  .overlay .gif_cards_buttons button[data-favorite=true] > .favorite_icon_active {
    display: inline;
  }
  .overlay .gif_cards_buttons button[data-favorite=true] > .favorite_icon {
    display: none;
  }
  .overlay .gif_cards_buttons button:hover {
    opacity: 100%;
  }
  .overlay .gif_cards_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 12px;
    margin-right: 14px;
    margin-bottom: 16px;
  }
  .overlay .gif_cards_info > p {
    color: white;
  }
  .overlay .gif_cards_info .gif-user {
    font-family: "Roboto-regular";
    font-size: 15px;
    margin-bottom: 5px;
  }
  .overlay .gif_cards_info .gif-title {
    height: 40px;
    font-family: "Roboto-bold";
    font-size: 16px;
  }

  .trend_gif:hover .overlay {
    height: 100%;
  }

  .gif:hover .overlay {
    height: 100%;
  }
}
/* first desktop y tablet */
@media screen and (min-width: 768px) {
  #create_gifos {
    display: flex;
    padding-top: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /*Inicia cámara imagen*/
    /*Inicia Crear Gifo contenedor principal morado*/
    /*Inicia Paso a paso para crear Gifos*/
    /*Inicia film imagen*/
  }
  #create_gifos .camera_container {
    display: block;
    padding-top: 118.6px;
  }
  #create_gifos .camera_container > .camera {
    content: var(--camera-image);
  }
  #create_gifos .camera_container > .camera_light {
    margin-left: 2px;
    margin-right: 4px;
    margin-bottom: 13.4px;
  }
  #create_gifos .create_main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #create_gifos #create_gifos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 688px;
    height: 390px;
    border: 1px solid var(--color-primary);
    /*Panel decorativo Turquesa*/
    /*Finaliza panel decorativo Turquesa*/
    /*Inicia contenido Parte 1*/
    /*Finaliza contenido Parte 1*/
  }
  #create_gifos #create_gifos_container .create_container_main {
    width: 648px;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #create_gifos #create_gifos_container .corner-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 25px;
  }
  #create_gifos #create_gifos_container .corner {
    width: 25px;
    height: 25px;
    position: relative;
  }
  #create_gifos #create_gifos_container .top,
#create_gifos #create_gifos_container .bottom {
    position: absolute;
    width: 25px;
    height: 25px;
  }
  #create_gifos #create_gifos_container .top {
    top: 0;
    border-top: 1px solid #50E3C2;
  }
  #create_gifos #create_gifos_container .bottom {
    bottom: 0;
    border-bottom: 1px solid #50E3C2;
  }
  #create_gifos #create_gifos_container .left {
    left: 0;
    border-left: 1px solid #50E3C2;
  }
  #create_gifos #create_gifos_container .right {
    right: 0;
    border-right: 1px solid #50E3C2;
  }
  #create_gifos #create_gifos_container .create_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    margin-top: 14px;
    width: 480px;
    height: 320px;
  }
  #create_gifos #create_gifos_container .create_container #create_gifos_title {
    font-family: "Montserrat-bold";
    font-size: 25px;
    color: var(--color-primary);
    text-align: center;
    line-height: 35px;
    margin-bottom: 0px;
  }
  #create_gifos #create_gifos_container .create_container #create_gifos_title .h1_turquoise {
    color: #50E3C2;
  }
  #create_gifos #create_gifos_container .create_container .create_paragraph_container {
    font-family: "Roboto-regular";
    font-size: 16px;
    color: var(--color-basic-text);
    text-align: center;
    line-height: 29px;
    margin-top: 3px;
  }
  #create_gifos #create_gifos_container .create_container #gifos_video {
    width: 480px;
    height: 320px;
    display: none;
    z-index: 10;
  }
  #create_gifos .gifos_status_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #create_gifos .gifos_status_main > .gifos_steps_and_timer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
  }
  #create_gifos .gifos_status_main > .gifos_steps_and_timer > .gifos_status_main_step_to_step {
    display: flex;
    flex-direction: row;
    width: 146px;
    justify-content: space-between;
  }
  #create_gifos .gifos_status_main > .gifos_steps_and_timer > .gifos_status_main_step_to_step > .step {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    margin-top: 24px;
    right: 25px;
    outline: none;
    font-family: "Roboto-regular";
    font-weight: 700;
    font-size: 18px;
    color: var(--color-primary);
  }
  #create_gifos .gifos_status_main > .gifos_steps_and_timer > .gifos_status_main_step_to_step > .step:last-child {
    margin-left: 0;
  }
  #create_gifos .gifos_status_main > .gifos_steps_and_timer > .gifos_status_main_step_to_step > .step-full {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    margin-top: 24px;
    right: 25px;
    outline: none;
    font-family: "Roboto-regular";
    font-weight: 700;
    font-size: 18px;
    background-color: var(--color-primary);
    color: var(--color-main-background);
  }
  #create_gifos .gifos_status_main > .gifos_steps_and_timer > .gifos_status_main_step_to_step > .step-full:last-child {
    margin-left: 0;
  }
  #create_gifos .gifos_status_main > .create_gifo_button {
    width: 127px;
    height: 50px;
    border: var(--color-primary) solid 1px;
    background-color: var(--color-main-background);
    border-radius: 25px;
    font-family: "Montserrat-bold";
    font-size: 13px;
    color: var(--color-primary);
    text-transform: uppercase;
    margin-top: 46px;
    margin-bottom: 26px;
  }
  #create_gifos .gifos_status_main > .create_gifo_button:hover {
    background-color: var(--color-primary);
    color: var(--color-main-background);
  }
  #create_gifos .divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 795.9px;
    border: 3.45px solid var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 3.45px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #create_gifos #no_button {
    margin: 0px;
    padding: 0px;
  }
  #create_gifos #record,
#create_gifos #stop_recording,
#create_gifos #upload {
    display: none;
  }
  #create_gifos .film_container {
    margin-top: auto;
    margin-left: 67px;
    margin-bottom: 102px;
  }
  #create_gifos .film_container > .video_tape {
    content: var(--tape-image);
  }

  .timer {
    margin-top: 24px;
    margin-left: auto;
  }

  #timer {
    font-family: "Montserrat-bold";
    font-size: 15px;
    color: var(--color-primary);
    text-align: center;
    line-height: 22px;
    display: none;
    margin-top: 24px;
    margin-left: auto;
  }

  #repeat {
    text-decoration: none;
    flex: auto;
    font-family: "Montserrat-bold";
    font-size: 13px;
    color: var(--color-primary);
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: var(--color-turquoise-1) solid 2px;
    display: none;
  }
  #repeat:active {
    text-decoration: none;
    color: var(--color-light-grey);
  }

  /*Inicia create Gifos overlay*/
  .create_gifo_overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(87, 46, 229, 0.7);
    overflow: hidden;
    width: 480px;
    height: 0%;
    transition: 0.5s ease;
    z-index: 10;
  }

  #loading_gifo,
#loaded_gifo {
    width: 100%;
    height: 100%;
  }

  #loading_gifo {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #loading_gifo > img {
    width: 22px;
    height: 22px;
  }
  #loading_gifo > p {
    font-family: "Montserrat-bold";
    font-size: 15px;
    color: var(--color-menu-link-color);
    text-align: center;
    margin-top: 10px;
  }

  #loaded_gifo {
    display: none;
    flex-direction: column;
  }

  #loaded_gifo_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #loaded_gifo_buttons button {
    width: 32px;
    height: 32px;
    color: white;
    opacity: 0.7;
    border-radius: 6px;
    border: none;
    margin: 11px 10px 0px 0px;
  }
  #loaded_gifo_buttons button:hover {
    opacity: 100%;
  }

  #success_loaded_gifo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 90.9px;
  }
  #success_loaded_gifo > img {
    width: 22px;
    height: 22px;
  }
  #success_loaded_gifo > p {
    font-family: "Montserrat-bold";
    font-size: 15px;
    color: var(--color-menu-link-color);
    text-align: center;
    margin-top: 14px;
  }
}
/* first mobile */
.modal_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-background);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal > .modal_close_button {
  width: 13.8px;
  height: 14px;
  background-color: var(--color-trending-background);
  outline: none;
  border: none;
  margin: 0px 34.3px 0px 0px;
  align-self: flex-end;
}
.modal > .modal_close_button > img {
  filter: var(--color-icon-normal);
}
.modal > .info_full_modal {
  width: 318px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0px 28px 0px 29px;
}
.modal > .info_modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 29.5px;
}
.modal .modal_paragraph {
  font-family: "Roboto-regular";
  font-size: 15px;
  margin-bottom: 6px;
  color: var(--color-basic-text);
}
.modal .modal_title {
  height: 19px;
  font-family: "Montserrat-bold";
  font-size: 16px;
  color: var(--color-basic-text);
}
.modal .modal_buttons {
  width: 93px;
  display: flex;
  justify-content: space-between;
  color: var(--color-trending-background);
}
.modal .favorite_button_modal {
  background-color: var(--color-trending-backgroun);
  width: 36px;
  height: 36px;
  border: 0px;
}
.modal .favorite_button_modal > .favorite_inactive_icon {
  display: inline;
  filter: var(--color-icon-normal);
}
.modal .favorite_button_modal > .favorite_active_icon {
  display: none;
}
.modal .favorite_button_modal[data-favorite=true] > .favorite_active_icon {
  display: inline;
  filter: var(--color-icon-normal);
}
.modal .favorite_button_modal[data-favorite=true] > .favorite_inactive_icon {
  display: none;
}
.modal .favorite_button_modal:hover {
  opacity: 100%;
  background-color: var(--color-main-background);
}
.modal .download_button_modal {
  background-color: var(--color-main-background);
  width: 36px;
  height: 36px;
  border: var(--color-light-grey) 1px solid;
  border-radius: 6px;
  font-size: 18px;
  outline: none;
}
.modal .download_button_modal > img {
  filter: var(--color-icon-normal);
}
.modal .download_button_modal:hover {
  opacity: 50%;
  background-color: var(--color-main-background);
}

.modal_slider {
  display: flex;
  flex-direction: row;
  width: 318px;
  padding: 78px 0 14px;
  align-self: center;
}
.modal_slider .gif_modal {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  width: 318px;
  height: 245px;
  padding: 0px 0px 0px;
  align-self: center;
}

/* Opciones desktop y tablet */
@media screen and (min-width: 768px) {
  .modal {
    width: fit-content;
  }
  .modal > .modal_close_button {
    width: 15px;
    height: 15px;
    margin: 0px 0px 78.4px 31.4px;
  }
  .modal > .info_full_modal {
    width: 695px;
    margin: 27px 0px 0px 0px;
  }
  .modal .modal_title {
    font-family: "Roboto-bold";
  }
  .modal .favorite_button_modal {
    background-color: var(--color-main-background);
    border: var(--color-light-grey) 1px solid;
    border-radius: 6px;
  }
  .modal .favorite_button_modal:hover {
    opacity: 50%;
    background-color: var(--color-main-background);
  }

  .modal_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0px;
  }
  .modal_slider .gif_modal {
    width: 695px;
    height: 385px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    padding: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
