/* first mobile */

main {
    background-color: var(--color-main-background);
}

#trendings {
    background-color: var(--color-main-background);

    %title {
        font-family: 'Montserrat-bold';
        color: var(--color-primary);
        text-align: center;
    }

    .trendings_title {
        @extend %title;
        font-size: 16px;
        line-height: 25px;
        margin-top: 31px;
        margin-bottom: 2px;
    }


    #trendings_paragraph {
        font-family: 'Montserrat-medium';
        font-size: 14px;
        color: var(--color-primary);
        text-align: center;
        line-height: 25px;
        margin-top: 0px;
        margin-bottom: 45px;
    }
}




/* Inicia trendings container first mobile */

.trendings_container {
    background-color: var(--color-trending-background);
    text-align: center;
    display: flex;
    flex-direction: column;

    &>.trendings_title_container {
        @extend %title;
        font-size: 20px;
        line-height: 30px;
        margin-top: 46px;
        margin-bottom: 7px;
    }

    &>.trendings_paragraph_container {
        font-family: 'Roboto-regular';
        font-size: 16px;
        color: var(--color-basic-text);
        text-align: center;
        line-height: 23px;
        margin-top: 0px;
        margin-bottom: 32px;
    }

    &>.gif_container {
        display: flex;
        flex-direction: row;
        padding-bottom: 82px;

        .gifs_slider {
            width: 100%;
            height: fit-content;
            display: flex;
            overflow-x: auto;
        }

        .trend_gif {
            width: 243px;
            height: 187px;
            flex-shrink: 0;
            padding-left: 22px;
        }

        &>button {
            display: none;
        }
    }
}

/* Opciones desktop y tablet */

@media screen and (min-width: 768px) {

    #trendings {
        .trendings_title {
            @extend %title;
            font-size: 18px;
            margin-top: 73px;
            margin-bottom: 7px;
        }

        #trendings_paragraph {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 95px;

            & br {
                display: none;
            }
        }
    }



    .trendings_container {

        &>.trendings_title_container {
            @extend %title;
            font-size: 25px;
            margin-top: 67px;
            margin-bottom: 12px;
        }

        &>.trendings_paragraph_container {
            font-size: 18px;
            margin-top: 0px;
            margin-bottom: 53px;

            & br {
                display: none;
            }
        }

        &>.gif_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-bottom: 182px;

            .gifs_slider {
                width: fit-content;
                height: 280px;
                display: flex;
                flex-direction: row;
                overflow-x: auto;
                justify-content: center;
            }

            .trend_gif {
                width: 357px;
                height: 275px;
                flex-shrink: 0;
                padding-left: 29px;

                &:first-child {
                    padding-left: 22px;
                }

                &:last-child {
                    padding-right: 25px;
                }
            }

            &>button {
                display: inline;
                background-color: var(--color-main-background);
                border: var(--color-primary) solid 1px;
                width: 40px;
                height: 40px;
                outline: none;

                &:hover {
                    background-color: var(--color-primary);
                    color: var(--color-main-background);

                    &>img {
                        filter: brightness(0) invert(1);
                    }
                }

                &>img {
                    position: inherit;
                    top: 50%;
                    left: 50%;
                    height: 50%;
                    width: 8px;
                    height: 14px;
                }
            }
        }
    }

}